<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
  <script src="./js/blackrock.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="./js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/simple-sidebar.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <img src="./img/graphIcon.png" height="50" width="50" href="#menu-toggle" id="menu-toggle" class="imgToggler"/>
          </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="trade.html">Trade</a></li>
                <li><a href="tt.html">Trending Traders</a></li>
                <li><a href="follow.html">Followers</a></li>
                <li><a href="chat.html">Chat</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
              </ul>
              <div class="row" style="padding-right:30px">
                <div class="col-lg-4" style="padding-top:7px">
                  <div class="input-group">
                    <input id="search" type="search" class="form-control transparent-input" placeholder="Search for a company">
                      <span class="input-group-btn">
                        <button id="submit" class="btn btn-secondary" type="button"><span class="glyphicon glyphicon-search"</span></button>
                      </span>
                  </div>
                <div class="results table-responsive">
                  <table class="table table-striped">
                    <tr>
                      <th>Description</th>
                      <th>As Of Date</th>
                      <th>1 Day</th>
                      <th>1 Month</th>
                      <th>1 Year</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="description">-</td>
                      <td id="asOfDate">-</td>
                      <td id="oneDay">-</td>
                      <td id="oneMonth">-</td>
                      <td id="oneYear">-</td>
                    </tr>
                  </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
 <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="margin-top: 50px">
       <ul class="sidebar-nav">
           <li class="sidebar-brand">
               <strong>Welcome </strong>
           </li>
           <li>
               <a href="#">Dashboard</a>
           </li>
           <li>
               <a data-toggle="collapse" href="#collapse1">Overview</a>
               <div id="collapse1" class="panel-collapse collapse">
               <table id="overview">
                   <tr>
                     <th>Total Equity: </th>
                     <td id="equity"></td>
                   </tr>
                   <tr>
                     <th>Stock Value: </th>
                     <td id="stockVal"></td>
                   </tr>
                   <tr>
                     <th>Cash Value: </th>
                     <td id="cashVal"></td>
                   </tr>
               </table>
           </div>
           </li>
       </ul>
   </div>
          <!-- /#sidebar-wrapper -->

          <!-- Page Content -->
          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12" style="padding-top: 20px">
                        <div class="container-fluid text-left">
                            <h2 style="padding-top: 15px">User Information</h2>
                            <hr>
                            <p><strong>Name: </strong>John Doe</p>
                            <p><strong>Email: </strong>john.doe@email.com</p>
                            <p><strong>Phone: </strong>(123) 456-7890</p><br>
                            <h2>Automatic Deposit</h2>
                            <hr>
                            <p> *Disclaimer: This is an optional feature and will automatically draw money from your bank account every month.<br/> You can specify the amount to withdraw or let us determine how much you can afford to invest. </p>
                            <div ng-app="">
                                <form>
                                    <div class="checkbox">
                                      <label><input type="checkbox" ng-model="aut"> Yes, I want to turn on automatic deposit</label>
                                    </div>
                                    <div ng-show="aut">
                                        <div class="form-group">
                                          <label for="account">Bank account number:</label>
                                          <input type="account" class="form-control" id="account" placeholder="Enter bank account number">
                                        </div>
                                        <div class="form-group">
                                          <label for="route">Routing number:</label>
                                          <input type="route" class="form-control" id="route" placeholder="Enter bank routing number">
                                        </div>
                                        <div class="checkbox">
                                          <label><input type="checkbox" ng-model="with"> Yes, I want you to determine how much to withdraw from my bank account</label>
                                        </div>
                                        <div class="form-group" ng-hide="with">
                                          <label for="amount">How much do you want to deposit monthly:</label>
                                          <input type="amount" class="form-control" id="amount" placeholder="Place an amount">
                                        </div>
                                        <div class="form-group" ng-show="with">
                                          <label for="inc">What is your average monthly income</label>
                                          <input type="inc" class="form-control" id="inc" placeholder="Place an amount">
                                        </div>
                                        <div class="form-group" ng-show="with">
                                          <label for="cost">What is your average monthly expense cost</label>
                                          <input type="cost" class="form-control" id="cost" placeholder="Place an amount">
                                        </div>
                                        <div class="form-group" ng-show="aut">
                                            <p> If you are following a trader, your automatic deposit will be invested in that, unless otherwise specified </p>
                                            <p class="question"><strong>How would you like to invest the automatic deposits?</strong></p>
                                            <ul class="answers">
                                                <input type="radio" name="q1" value="a" id="q1a"><label for="q1a">In a fund that tracks the market</label><br/>
                                                <input type="radio" name="q1" value="b" id="q1b"><label for="q1b">I'll invest it myself</label><br/>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="submit" onclick="loadDoc()" ng-click="show=true" class="btn btn-default">Submit</button>
                                    <h4 ng-show="show" id="conf"></h4>
                                </form>
                            </div>
                        </div>

                      </div>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->
  </div>
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  </script>
  <script>
      var equity = localStorage.getItem("equity");
      var stockVal = localStorage.getItem("stockVal");
      var cashVal = localStorage.getItem("cashVal");
      document.getElementById("equity").innerHTML = equity;
      document.getElementById("stockVal").innerHTML = stockVal;
      document.getElementById("cashVal").innerHTML = cashVal;
  </script>
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange=function() {
    if (this.status == 200) {
      var response = this.responseText;
      var responseArr = response.split(",");
      var response = responseArr[4].split(":");
      var input = document.getElementById("inc").value;
      var exp = document.getElementById("cost").value;
      var netProfit = input - exp;
      if (netProfit > 0 && response[1] > netProfit) {
        var num = (netProfit * .2).toFixed(2);
        localStorage.setItem("portValue", num.toString());
        postMethod2(num);
        num = (num * 2).toFixed(2);
        document.getElementById("conf").innerHTML = "Withdraw Successful! Your new At the beginning of every month, $" + num + " will be taken out of your Capital One account and placed into this investment account";
        } else if (netProfit < 0) {
        document.getElementById("conf").innerHTML = "Your expenses are too high to automatically invest";
        }
    }
  };
  xhttp.open("GET", "http://api.reimaginebanking.com/accounts/57e695d2dbd83557146123db?key=1c992b3dfb6d8e0ad2813cd37101e228", true);
  xhttp.send();
}
function postMethod2(num) {
    newSetter();
    xhr = new XMLHttpRequest();
    var url = "http://api.reimaginebanking.com/accounts/57e695d2dbd83557146123db/withdrawals?key=1c992b3dfb6d8e0ad2813cd37101e228";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.onreadystatechange = function () {
        if (xhr.status == 201) {
            var json = JSON.parse(xhr.responseText);
        }
    }
    var data = JSON.stringify({"medium": "balance","amount": num});
    xhr.send(data);
}
function newSetter() {
    var currEq = localStorage.getItem("equity");
    var newEq = localStorage.getItem("portValue");
    var currCash = localStorage.getItem("cashVal");
    localStorage.setItem("equity", ((Number(currEq)) + (Number(newEq))).toFixed(2));
    localStorage.setItem("cashVal", ((Number(currCash)) + (Number(newEq))).toFixed(2));
    document.getElementById("equity").innerHTML = localStorage.getItem("equity");
    document.getElementById("cashVal").innerHTML = localStorage.getItem("cashVal");
    return;
}
</script>
</body>
</html>
