<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
  <script src="https://www.blackrock.com/tools/api/js/hackathon"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Trade</a></li>
        <li><a href="#">Trending Traders</a></li>
        <li><a href="#">Followers</a></li>
        <li><a href="#">Chat</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="profile.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-left">
    <h2>User Information</h2>
    <hr>
    <p><strong>Name: </strong>John Doe</p>
    <p><strong>Email: </strong>john.doe@email.com</p>
    <p><strong>Phone: </strong>(123) 456-7890</p><br>
    <h2>Automatic Deposit</h2>
    <hr>
    <p> *Disclaimer: This is an optional feature and will automatically draw money from your bank account every month. You can specify the amount to withdraw or let us determine how much you can afford to invest. </p>
    <div ng-app="">
        <form>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="aut"> Yes, I want to turn on automatic deposit</label>
            </div>
            <div ng-show="aut">
                <div class="form-group">
                  <label for="account">Bank account number:</label>
                  <input type="account" class="form-control" id="account" placeholder="Enter bank account number">
                </div>
                <div class="form-group">
                  <label for="route">Routing number:</label>
                  <input type="route" class="form-control" id="route" placeholder="Enter bank routing number">
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="with"> Yes, I want you to determine how much to withdraw from my bank account</label>
                </div>
                <div class="form-group" ng-hide="with">
                  <label for="amount">How much do you want to deposit monthly:</label>
                  <input type="amount" class="form-control" id="amount" placeholder="Place an amount">
                </div>
                <div class="form-group" ng-show="with">
                  <label for="inc">What is your average monthly income</label>
                  <input type="inc" class="form-control" id="inc" placeholder="Place an amount">
                </div>
                <div class="form-group" ng-show="with">
                  <label for="cost">What is your average monthly expense cost</label>
                  <input type="cost" class="form-control" id="cost" placeholder="Place an amount">
                </div>
                <div class="form-group" ng-show="aut">
                    <p> If you are following a trader, your automatic deposit will be invested in that, unless otherwise specified </p>
                    <p class="question"><strong>How would you like to invest the automatic deposits?</strong></p>
                    <ul class="answers">
                        <input type="radio" name="q1" value="a" id="q1a"><label for="q1a">In a fund that tracks the market</label><br/>
                        <input type="radio" name="q1" value="b" id="q1b"><label for="q1b">I'll invest it myself</label><br/>
                    </ul>
                </div>
            </div>
            <button type="submit" onclick="loadDoc()" ng-click="show=true" class="btn btn-default">Submit</button>
            <h4 ng-show="show" id="conf"></h4>
        </form>
    </div>
</div>

<div class="footer navbar-fixed-bottom">
    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
</div>
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange=function() {
    if (this.status == 200) {
      var response = this.responseText;
      var responseArr = response.split(",");
      var response = responseArr[4].split(":");
      var input = document.getElementById("inc").value;
      var exp = document.getElementById("cost").value;
      var netProfit = input - exp;
      if (netProfit > 0 && response[1] > netProfit) {
        var num = (netProfit * .2).toFixed(2);
        postMethod2(num);
        document.getElementById("conf").innerHTML = "Withdraw Successful! Your new At the beginning of every month, $" + num + " will be taken out of your Capital One account and placed into this investment account";
        } else if (netProfit < 0) {
        document.getElementById("conf").innerHTML = "Your expenses are too high to automatically invest";
        }
    }
  };
  xhttp.open("GET", "http://api.reimaginebanking.com/accounts/57e695d2dbd83557146123db?key=1c992b3dfb6d8e0ad2813cd37101e228", true);
  xhttp.send();
}

function postMethod2(num) {
    alert("Starting");
    xhr = new XMLHttpRequest();
    var url = "http://api.reimaginebanking.com/accounts/57e695d2dbd83557146123db/withdrawals?key=1c992b3dfb6d8e0ad2813cd37101e228";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.onreadystatechange = function () {
        if (xhr.status == 201) {
            var json = JSON.parse(xhr.responseText);
        }
    }
    var data = JSON.stringify({"medium": "balance","amount": num});
    xhr.send(data);
}

</script>
</body>
</html>
